    <div class="content">

		<h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-3 col-lg-9">
                  <form class="form">
                      <fieldset>

                          <label for="name">Your Name</label>
                          <input id="name" type="text" placeholder="Your Name">


                          <label for="email">Your Email</label>
                          <input id="email" type="email" placeholder="Your Email">

                          <label for="password">Your Password</label>
                          <input id="password" type="password" placeholder="Your Password">

                          <button type="submit" class="button">Sign Up</button>
                      </fieldset>
                  </form>
              </div>

              <div class="col-sm-12 col-md-9 col-lg-9">
                  <h4>Contact Us</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                  </p>

                  <h4>More Information</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                  </p>
              </div>
          </div>
      </div>
	</div>
