<div class="container">
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
            {% if metadata.githublink %}
                <li>
                    <a href="{{ metadata.githublink }}" target="new">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            {% endif %}
            {% if metadata.googlepluslink %}
                <li>
                    <a href=" {{ metadata.githublink }}" target="new">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <p class="copyright text-muted text-center">© 2016 by {{metadata.impressum.name}}</p>
    </div>
  </div>
</div>
